<?xml version='1.0' encoding='utf-8'?>
<TextureAtlas imagePath="spring.png">
<SubTexture name="spring idle0000" x="439" y="0" width="476" height="534" frameX="-82" frameY="-48" frameWidth="669" frameHeight="615" />
<SubTexture name="spring idle0001" x="0" y="0" width="439" height="555" frameX="-104" frameY="-37" frameWidth="669" frameHeight="615" />
</TextureAtlas>
